.contenedor .texto {
  display: flex;
  color: rgb(255, 255, 255);
  /*border-radius: 25%;*/
  text-decoration: none;
  align-items: center;
  Word-wrap: break-Word;
}

.contenedor {
  display: flex;
  flex-direction: column;
  /*border-radius: 25%;*/
  /*font-size: 35px;*/
  font-size: calc(3em/4 + 1vw);
  background-color: #353535;
  color: white;
  align-items: center;
  
}

a.texto.active{
  color: rgb(255, 255, 255) !important;
  background-color: #000000;
}

a.btn.contenedor.active{
  width: auto;
  border-radius: initial;
  color: rgb(255, 255, 255) !important;
  background-color: #284B63 !important;
}

button.btn.btn-seleccion{
  background-color: white;
}

button.btn.btn-editar{
  background-color: #284B63;
}