.contenedor .texto {
  display: flex;
  color: rgb(255, 255, 255);
  /*border-radius: 25%;*/
  text-decoration: none;
  align-items: center;
  Word-wrap: break-Word;
}

.contenedor {
  display: flex;
  flex-direction: column;
  /* border-radius: 25%; */
  /*font-size: 35px;*/
  font-size: calc(3em/4 + 1vw);
  /* background-color: #b8b8b8 !important; */
  border-color: #e2e2e2a8 !important;
  align-items: center;
  isolation: isolate;
  
}

a.texto.active{
  color: rgb(255, 255, 255) !important;
  background-color: #000000 !important;
}

a.btn.contenedor.active{
  width: auto;
  border-radius: initial;
  color: rgb(255, 255, 255) !important;
  background-color: #252525 !important;
}

button.btn.btn-seleccion{
  background-color: white;
}

button.btn.btn-editar{
  background-color: #3b3b3b;
}

.nav-link{
  color: #000000 !important;
}

.letra{
  font-family: 'Poppins', sans-serif;
}


.nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-tabs{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  /* box-shadow: 8px 6px 10px 0px rgba(56, 56, 56, 0.11); */

}

