.form-groupp{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    
    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;

}


  .modal-backdrop {
    background-color: black;
  }
  
  .modal-content {
    background: #144983;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }

  .modal-title{
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
  }

  .input {
    background: #fff;
    width: 95%;
  }
  
  .Busqueda {
    /*margin-right: 30px;
    float: center;
    display: flex;
    overflow-x: auto;*/
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .Busqueda .search-query {
    width: 40%;
    margin-left: 10px;
    border-radius: 15px;
  }
  .Busqueda .btn-success {
    width: 20%;
    background: #353535;
    float: center;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 20px;
    /*width: 300px;*/
    font-size: calc(1em/2 + 1vw/2);
    display: flex;
    flex-direction: column;
  }
  
  .Busqueda .btn-success i {
    margin-right: 20px;
  }
  
  .Busqueda .esp {
    width: 30%;
    /*float: center;
    border-radius: 15px;
    margin-right: 50px;*/
  }
  
  .Busqueda .add-on {
    background: #353535;
    border: #fff;
    /*border-radius: 40px;*/
    /*width: 100px;*/
  }
  
  .Busqueda .textField {
    /*width: 300px;*/
    width: 30%;
    font-size: calc(1em/2 + 1vw/2);
  }
  
  .Modal .ModalBody {
    box-sizing: content-box;
  }
  
  .modal-content .pass-body input {
    align-items: center;
    margin-right: 60px;
    width: 100%;
  }
  .modal-content .actualizar-pass .btn {
    align-items: center;
    margin-right: 95px;
  }
  .selectblood{
    width: 160px;
    height: 35px;
  }