.Selector{
    width: 20%;
}

.SelectorP{
    width: 15%;
}

.SelectorEdad{
    width: 8%;
}

.SelectorWrapper{
    display: flex;
    justify-content: end;
}


.SelectorWrapperAsistencia{
    display: flex;
    justify-content: space-between;
    
}

.GraficaWrapper{
    height: 60%;
    display: flex;
    justify-content: center;
}

.Grafica{
    height: 50%;
    width: 70%;
}

.esp{
    width: 2%;
}

.esp2{
    width: 50%;
}


.MuiIconButton-label > svg:nth-child(1) > path:nth-child(1) {
    color: rgb(191, 196, 197) !important;
   }
   
