.containerPrincipalR {
  position: relative;
  height: 320px;
  width: 450px;
  /*transform: translateY(-50%, -50%);*/
  border: 1px solid rgba(11, 20, 57, 1);
  padding: 40px;
  background: rgba(40, 75, 99, 1);
  border-radius: 20px;
  display:flex;
  justify-content:center;
  align-items: center;
}

.containerSecundarioR {
  text-align: center;
  color: #fff;
}

.containerSecundarioR .btn-primary {
  color: #fff;
  margin: 20px 20px 5px 20px;
  background-color: rgba(60, 110, 113, 1);
  border-color: #0d6efd;
}

.containerSecundarioR .btn-danger {
  color: #fff;
  background-color: rgba(159, 66, 66, 1);
}

.PrincipalReset{
  display:flex;
  justify-content:center;
  align-items: center;
  background: url("../assets/img/login/gym2.jpg");
  width: 100%;
  height: 100vh;
}