# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\xeng_\Escritorio\Gestión de Proyectos de software\HuxGym\Equipo-6---HuxGym\Backend\huxgym\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
